@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #8A53E1;
  --color-secondary: #AD91FD;
  --color-tertiaty: #6BA1FB;
}

a { 
  @apply text-purple-300;
}

a:hover {
  @apply border-b-2 border-purple-400;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
